<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">You need simple, quick, cheap. We got it.</h2>
                <hr class="light">
                <p class="text-faded">You're just starting out and you want something simple, quick, and cheap so that you can focus on growing your business or brand. Don't spend thousands of dollars on a website when you don't have to.</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Get Started!</a>
            </div>
        </div>
    </div>
</section>
