<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">HOW IT WORKS</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xs-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>1. Selection Process</h3>
                    <p class="text-muted">After you make a submission, we will get back to you within 24 hours to let you know whether your site is a good fit or not. We care about customer satisfaction and this requires that we only work on websites that we believe will allow us to make you a happy and referring customer.</p>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-binoculars wow bounceIn text-primary"></i>
                    <h3>2. Discovery</h3>
                    <p class="text-muted">We gather all of the information that we need from you such as brand name, logos, colors, copy, type of website (multiple pages, parallax), overall message you want to convey, etc. To meet the deadline we rely heavily on the use of web themes and templates. We will send you a list of theme options to choose from.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-xs-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-handshake wow bounceIn text-primary"></i>
                    <h3>3. Start</h3>
                    <p class="text-muted">We agree on a start and end date for your project. Due to the volume of work that we receive, the start date may not be the same day that you make a submission on our website.</p>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gears wow bounceIn text-primary"></i>
                    <h3>4. Progress</h3>
                    <p class="text-muted">Our team will send you progress of our work to get your feedback around the 24 hour mark.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-xs-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lightbulb-o wow bounceIn text-primary"></i>
                    <h3>5. Delivery</h3>
                    <p class="text-muted">We will deliver the final website files to you after 48 hours of the agreed start date.</p>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>6. Revisions</h3>
                    <p class="text-muted">We will perform minor revisions within the following 24 hours free of charge.</p>
                </div>
            </div>
        </div>
    </div>
</section>
