<section class="no-padding" id="portfolio">
    <div class="container">
        <div class="row no-gutter">

          <div class="pricing-container">
            <div class="price-block">
              <h4>Basic</h4>
              <div class="price">
                <sup>$</sup><strong>757</strong>
              </div>
              <div class="revenue">
                <p class="desc"><strong>Website - 5 Pages Max</strong>
                <p class="desc"><strong>2 revisions</strong>
                <p class="desc"><strong>48 hours</strong>
              </div>
              <div class="cta">
                <a href="#contact" class="btn full arrow pricing-btn page-scroll">Sign Up</a>
              </div>
            </div>

            <div class="price-block">
              <h4>Premium</h4>
              <div class="price">
                <sup>$</sup><strong>999</strong>
              </div>
              <div class="revenue">
                <p class="desc"><strong>Website - 5 Pages Max</strong>
                <p class="desc"><strong>3 revisions</strong>
                <p class="desc"><strong>logo</strong>
                <p class="desc"><strong>copy</strong>
                <p class="desc"><strong>72 hours</strong>
              </div>
              <div class="cta">
                <a href="#contact" class="btn full arrow pricing-btn page-scroll">Sign Up</a>
              </div>
            </div>

            <div class="price-block">
              <h4>Platinum</h4>
              <div class="price">
                <sup>$</sup><strong>1,259</strong>
              </div>
              <div class="revenue">
                <p class="desc"><strong>Website - 5 Pages Max</strong>
                <p class="desc"><strong>5 revisions</strong>
                <p class="desc"><strong>logo</strong>
                <p class="desc"><strong>copy</strong>
                <p class="desc"><strong>hosting</strong>
                <p class="desc"><strong>3 Months Maintenance/Support</strong>
              </div>
              <div class="cta">
                <a href="#contact" class="btn full arrow pricing-btn page-scroll">Sign Up</a>
              </div>
            </div>
          </div>

        </div>
    </div>
</section>
